html {
  font-size: 130%;
}

body{
  color: rgb(122, 132, 146);
  font-family: "Oswald";
  text-align: center;
  line-height: 1.3; 
  background-color: rgb(209, 250, 252);
  word-wrap: break-word;
}

header{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

main  {
  max-width: 3000px;
  min-height: 100vh;
  margin: 5vh auto; 

}

h1, .main-nav {
  margin-top: 5px;
  margin-bottom: 20px;
}

h2 {
  font-size: inherit;
  color: rgb(72, 68, 65);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a:visited {
  color:inherit;
}


h1, h2 {
  font-family: "Playfair Display";
}

h3 {
  color: rgb(98, 98, 196);
}
/* CLASSES */
.flex-nav, .home, .contact {
  width: 90%;
  margin: 0 auto;
}


.title {
  color: rgb(72, 68, 65); 
  line-height: 1;
}

.main-nav {
  list-style-type: none;
  padding: 0;
}

.nav-card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: rgb(72, 68, 65);
  font-size: 80%;
}

.home {
  padding-top: 45px;
}

.main-portfolio {
  background-color: white;
  padding-top: 10px;
  margin: 0%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(72, 68, 65);
  font-family: "Audiowide";
}

.portfolio-card {
  max-width: 90%;
  align-self: center;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}

.article-img {
  max-width: 100%;
  height: auto;
}

.profile-pic {
  max-width: 100%;
  /* object-fit: contain; */
}

.contact h2{
  font-size: inherit;
  color: rgb(72, 68, 65)
}

.contact span {
  font-weight: bold;
  font-size: 80%;
}

.flex-footer {
  font-size: 80%;
  display: flex;
  justify-content: space-between;
  margin-inline: 3vh;
  margin-block: 5vh;
  font-weight: bold;
  border-top: 2px solid rgb(232, 232, 232);
  color: rgb(72, 68, 65);
}

.goals, .contact {
  width: 90%;
  margin: auto;
  margin-block: 5vh;
}

.goal-list {
  list-style-type: none;
  padding: 0;
}

.goal-list li {
  border-radius: 5px;
  display: inline-block;
  background-color: #10aa81;
  color: gold;
  padding: 5px 10px;
  margin: 3px;
}

.goal-list li:nth-child(odd) {
  background-color: #0399ff;
}

.menu-widescreen {
  display: none;
}

.footer-menu {
  display: flex;
  align-items: center;
}

/* MEDIA QUERY */
@media print {
  nav{
    display: none;
  }
}

@media screen and (min-width: 768px){

  .flex-nav {
    display: flex;
    flex-direction: column;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-card {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home {
    display: flex;
    flex-direction: row;
  }

  .profile-text{
    order: -1;
    flex-grow: 2;
    text-align: left;
    margin-top: 0;
    margin-right: 3%;
    
  }

  .profile-pic {
    display: block;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
  }

  .portfolio-card{
    width: 46%;
    padding-inline: 1%;    
    margin-bottom: auto;
  }

  .menu-smallscreen {
    display: none;
  }

  .menu-widescreen {
    display: inline;
    align-self: center;
    margin-inline-start: 1vh;
  }

}


@media screen and (min-width: 1024px){

  main {
    max-width: 95%;
  }

  .flex-nav {
    flex-direction: row;
  }

  .name {
    margin-top: 0;
    padding: 0;
    margin-right: auto;
  }

  h1 {
    text-align: left;
  }

  .portfolio-card{
    width: 30%;
  }

}
